body {
   font-family: Arial, sans-serif;
   background-color: #f0f8ff; /* Light blue like the sea */
   margin: 0;
   padding: 0;
}

.separator {
   border-top: 1px solid gray;
   margin: 20px 0;
}

h1 {
   color: #0074cc; /* Larimar blue */
   text-align: center;
   margin-top: 5px;
}

.container p {
   font-size: 16px;
   line-height: 2.0;
   margin: 20px;
}

.container h2 {
   color: #0074cc; /* Larimar blue */
   margin: 20px;
}

.container {
   max-width: 800px;
   margin: 0 auto;
   padding: 10px;
   background-color: #ffffff;
   border-radius: 10px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   border: solid 1px #0074cc; /* Larimar blue */   
   overflow: hidden;
   border-spacing: 10px;
   position: relative;
}

.container img {
   width: 50%;
   height: auto;
}

.whatIsLarimar{
   display: flex;
   padding: 10px;
}

.pectolite{
   margin: 0 auto;
   padding: 20px;
}

.pectolite img {
   width: 20%;
   height: auto;
   float: right;
}